.root{
    -fx-background-color: #777;
    -fx-text-fill: white;
}

.button {
    /*-fx-font: 16px "Serif";*/
    /*-fx-padding: 10;*/
    /*-fx-background-color: #CCFF99;*/
    /*-fx-border-radius: 0;*/
    /*-fx-text-fill: #FFF;*/

    /*-fx-border-style: none;*/
    /*-fx-border-width: 2px;*/
    /*-fx-border-insets: 0;*/
    /*-fx-border-color: #000;*/
    /*-fx-background-color: #000;*/
}

.menu .button{
    -fx-border-color: #000;
    -fx-border-width: 1px;
    -fx-background-color: transparent;

}