.
.yellow-bg{
    -fx-background-color: #ffc226;

}

.button{
    -fx-background-color: #222222;
    -fx-border-radius: 0;
    -fx-border-color: #222;
    -fx-min-width: 50px;
    -fx-min-height: 50px;
    -fx-text-fill: #fff;
}


.button:hover{
    -fx-background-color: #ccc;
    -fx-border-radius: 0;
    -fx-border-color: #ccc;
}
